In [48]:
import pandas
from labor.model import path
import ironeagle

In [49]:
area = pandas.read_fwf(path.format("ap/ap.area"), widths=[4,100], names=["area_code", "area_name"], skiprows=2)
print area

   area_code                                          area_name
0       0000                                  U.S. city average
1       0100                                    Northeast urban
2       0200                                      Midwest urban
3       0300                                        South urban
4       0400                                         West urban
5       A000                                        City size A
6       A100                                   Northeast Size A
7       A101  New York-Northern New Jersey-Long Island, NY-N...
8       A102  Philadelphia-Wilmington-Atlantic City, PA-NJ-D...
9       A103                Boston-Brockton-Nashua, MA-NH-ME-CT
10      A104                                     Pittsburgh, PA
11      A200                                     Midwest Size A
12      A207                     Chicago-Gary-Kenosha, IL-IN-WI
13      A208                        Detroit-Ann Arbor-Flint, MI
14      A209                                   St. Louis, MO-IL
15      A210                                Cleveland-Akron, OH
16      A211                        Minneapolis-St. Paul, MN-WI
17      A212                               Milwaukee-Racine, WI
18      A213                      Cincinnati-Hamilton, OH-KY-IN
19      A214                                 Kansas City, MO-KS
20      A300                                       South Size A
21      A311                  Washington-Baltimore, DC-MD-VA-WV
22      A316                              Dallas-Fort Worth, TX
23      A318                     Houston-Galveston-Brazoria, TX
24      A319                                        Atlanta, GA
25      A320                          Miami-Fort Lauderdale, FL
26      A400                                        West Size A
27      A421            Los Angeles-Riverside-Orange County, CA
28      A422                 San Francisco-Oakland-San Jose, CA
29      A423                       Seattle-Tacoma-Bremerton, WA
30      A424                                      San Diego, CA
31      A425                              Portland-Salem, OR-WA
32      A426                                       Honolulu, HI
33      A427                                      Anchorage, AK
34      A433                         Denver-Boulder-Greeley, CO
35      D000                                        City size D
36      D200                                     Midwest Size D
37      D300                                       South Size D
38      X000                                      City size B/C
39      X100                                 Northeast Size B/C
40      X200                                   Midwest Size B/C
41      X300                                     South Size B/C
42      X400                                      West Size B/C

In [43]:
print area.shape

(43, 2)

In [44]:
from cassandra.cluster import Cluster
cluster = Cluster(["127.0.0.1"])
session = cluster.connect("labor")

In [45]:
session.execute("CREATE TABLE IF NOT EXISTS average_price_data (area_code text primary key, area_name text)")

In [46]:
for i, row in area.iterrows():
    print row['area_code'], row['area_name']

0000 U.S. city average
0100 Northeast urban
0200 Midwest urban
0300 South urban
0400 West urban
A000 City size A
A100 Northeast Size A
A101 New York-Northern New Jersey-Long Island, NY-NJ-CT-PA
A102 Philadelphia-Wilmington-Atlantic City, PA-NJ-DE-MD
A103 Boston-Brockton-Nashua, MA-NH-ME-CT
A104 Pittsburgh, PA
A200 Midwest Size A
A207 Chicago-Gary-Kenosha, IL-IN-WI
A208 Detroit-Ann Arbor-Flint, MI
A209 St. Louis, MO-IL
A210 Cleveland-Akron, OH
A211 Minneapolis-St. Paul, MN-WI
A212 Milwaukee-Racine, WI
A213 Cincinnati-Hamilton, OH-KY-IN
A214 Kansas City, MO-KS
A300 South Size A
A311 Washington-Baltimore, DC-MD-VA-WV
A316 Dallas-Fort Worth, TX
A318 Houston-Galveston-Brazoria, TX
A319 Atlanta, GA
A320 Miami-Fort Lauderdale, FL
A400 West Size A
A421 Los Angeles-Riverside-Orange County, CA
A422 San Francisco-Oakland-San Jose, CA
A423 Seattle-Tacoma-Bremerton, WA
A424 San Diego, CA
A425 Portland-Salem, OR-WA
A426 Honolulu, HI
A427 Anchorage, AK
A433 Denver-Boulder-Greeley, CO
D000 City size D
D200 Midwest Size D
D300 South Size D
X000 City size B/C
X100 Northeast Size B/C
X200 Midwest Size B/C
X300 South Size B/C
X400 West Size B/C